<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>displayName</key>
		<string>Lekcija 6: Dođite k meni</string>
		<key>fileName</key>
		<string>lekcija6</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Lekcija 8: Kakav stan imate</string>
		<key>fileName</key>
		<string>lekcija8</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Lekcija 9: Sviđa mi se plivanje</string>
		<key>fileName</key>
		<string>lekcija9</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Lekcija10: Na izletu</string>
		<key>fileName</key>
		<string>lekcija10</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Lekcija11: Povratne karte</string>
		<key>fileName</key>
		<string>lekcija11</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Lekcija12: Imam telefonski broj</string>
		<key>fileName</key>
		<string>lekcija12</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Lekcija13: Na plaži</string>
		<key>fileName</key>
		<string>lekcija13</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Lekcija14: Ako pada kiša</string>
		<key>fileName</key>
		<string>lekcija14</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Lekcija15: Kako se osjećate</string>
		<key>fileName</key>
		<string>lekcija15</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Lekcija16: Poslovni ugovor</string>
		<key>fileName</key>
		<string>lekcija16</string>
	</dict>
</array>
</plist>
