<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreVokabular.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Export to Vokabular.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>ExportWithoutUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Pocoyo.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Share.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>ShareWords.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Vokabular.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Vokabular_OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>okokokoko.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>000365961AAA74C400405B9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>000365A81AAA794000405B9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>000365BA1AAA7ACF00405B9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>000365CC1AAB142F00405B9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0028D0B3199EA87B00342453</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0028D0C5199EA87B00342453</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00297D621AABA7DD0085D3DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00297D741AAC4BE20085D3DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00297D861AACB78A0085D3DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00409E2E1C56CDE1000416D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00409E401C56D4A7000416D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00409E521C57F8AA000416D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00B147811AAA6C1900ED68B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00B55E241C5ABA9F0059930F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00B55E381C5AD27E0059930F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00B55E4A1C5D01410059930F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00B55E5B1C5D081D0059930F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00B6045A1A018A6F00243649</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00B6046B1A018A6F00243649</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00CC5B081AAB9EA300495FA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00EEAF6C19F979E8006E2ADA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00EEAF7619F979E8006E2ADA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
